@font-face {
    font-family: 'Overpass Mono';
    src: url('./font.css') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Overpass Mono', monospace;
}

